<form class="form-inline offset-md-3">
    <div class="form-group col-md-6">
      <h1>Memo</h1>
    </div>
    <div class="form-group col-md-6">
      <a class="btn btn-outline-info" href="/" role="button">一覧に戻る</a>
    </div>
</form>
<% @memo.each do |memo| %>
  <div class="form-group row justify-content-center">
    <form action="/<%= memo["id"] %>" method="GET">
      <div class="my-5">
        <label for="title">タイトル：</label><br>
        <%= memo["memo_name"] %>
      </div>
      <div class="my-5">
        <label for="content">内容：</label><br>
        <%= memo["memo_content"].gsub(/\r\n/, "<br>") %>
      </div>
    </form>
  </div>
  <div class="form-group row justify-content-center">
    <div class="col-auto">
      <a href="/<%= memo["id"]%>/edit" class="btn btn-outline-info form-control"  role="button">編集</a>
    </div>
    <div class="col-auto">
      <form action="/<%= memo["id"] %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-outline-info form-control" type="submit">削除</button>
      </form>
    </div>
  </div>
<% end %>
